#root {
  padding-top: 30px;
  padding-bottom: 50px;
}

.app-title,
.aside-title,
.card-title {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 768px) {
  .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card-img-top {
  height: 30%;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    height: 140px;
  }
}

.movies-list {
  position: sticky;
  top: 30px;

  .list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .movie-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}